<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="UTF-8">
    <title>Price tag</title>
    <!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>-->
    <script>window.$ = window.jQuery = require('./node_modules/jquery/dist/jquery.js');</script>
    <link rel='stylesheet prefetch' href='./node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <link rel='stylesheet prefetch' href='./node_modules/bootstrap/dist/css/bootstrap-theme.min.css'>
    <link rel="stylesheet" href="styles/css/style.css">
    <link href="styles/css/jumbotron-narrow.css" rel="stylesheet">
    <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="./node_modules/angular-messages/angular-messages.min.js"></script>
    <script type="text/javascript" src="./node_modules/bootstrap/dist/js/bootstrap.js"></script>

    <script src="./node_modules/chart.js/dist/Chart.min.js"></script>
    <script src="./node_modules/angular-chart.js/dist/angular-chart.min.js"></script>

    <script src="./node_modules/angular-route/angular-route.min.js"></script>
    <script src='js/ui-bootstrap-tpls-0.11.2.js'></script>
    <script src="components/controllers/index.js"></script>

    <script src="js/float-panel.js"></script>
</head>

<body id="bootstrap-overrides" ng-controller="MainCtrl as mainctrl">

<!--<div id="floatpanel" class="container float-panel fixed" style="position: fixed; right: 0; top: 32%;">

    <div class="panel panel-info" ng-show="planning">
        <div class="panel-heading">Financial Summary</div>
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-8">
                    <h6>Gross Project Revenue</h6>
                </div>
                <div class="col-xs-4">
                    <h6>${{mainctrl.totalPrice}}</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <h6>Net Project Revenue</h6>
                </div>
                <div class="col-xs-4">
                    <h6>$2,000,000</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <h6>Total Labor Cost</h6>
                </div>
                <div class="col-xs-4">
                    <h6>$2,000,000</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <h6 class="text-success">Gross Profit</h6>
                </div>
                <div class="col-xs-4">
                    <h6 class="text-success">$1,000,000</h6>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8">
                    <h6 class="text-success">Gross Profit PCT</h6>
                </div>
                <div class="col-xs-4">
                    <h6 class="text-success">50%</h6>
                </div>
            </div>
        </div>
    </div>

</div>-->

<div id="mainpanel" class="container">

    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">PriceTag</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
                <ul class="nav navbar-nav" >
                    <li ><a href="#!/main">Pricing</a></li>
                    <li><a href="">Calculators</a></li>
                    <li><a href="">Feedback</a></li>
                    <li><a href="#!/summary">Report (Debug)</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                        <li><a href="login.html">Logout</a>
                </ul>
            </div>
        </div>
    </nav>

    <ng-view></ng-view>
    

    </div>



<div class="sticky-footer navbar-fixed-bottom">
    
    <ul class="nav nav-tabs" role="tablist">
        <li  role="presentation" class="active"><a href="#home" showtab="" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li  ng-repeat="phase in mainctrl.price.phases" role="presentation"><a href="#{{phase.id}}" showtab="" aria-controls="profile" role="tab" data-toggle="tab">{{phase.name}} ({{phase.weeks}} Weeks)</a></li>
    </ul>
    <footer class="navbar-default">
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="home">
            <div class="container-fluid">
                <div class="content">
                    <h6>Financial Summary</h6>
                    <div class="figures">
                        <p><label>Gross Revenue:</label> $<span ng-bind="mainctrl.countGrossRevenu()"></span></p> |
                        <p><label>Net Revenue:</label> $<span ng-bind="mainctrl.countGrossRevenu()"></span></p> |
                        <p><label>Labour:</label> $<span ng-bind="mainctrl.countLabour()"></span></p> |
                        <p><label>Profit:
                        </label> $<span ng-bind="mainctrl.countProfit()"></span> = <span
                                class="positive"><span ng-bind="mainctrl.countProfitPercent()"></span>%</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-repeat="phase in mainctrl.price.phases" role="tabpanel" class="tab-pane" id="{{phase.id}}">
            <div role="tabpanel" class="tab-pane active">
                <div class="container-fluid">
                    <div class="content">
                        <h6>{{phase.name}}</h6>
                        <phasebar></phasebar>
                        <div class="figures">
                            <p><label>Gross Revenue:</label> $600,000</p> |
                            <p><label>Net Revenue:</label> $300,000</p> |
                            <p><label>Labour:</label> $100,000</p> |
                            <p><label>Profit:</label> $300,000 = <span class="positive">50%</span></p>
                        </div>
                        <span  class="label label-primary" ng-repeat="res in phase.resources">{{res.name}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
    </div>

</body>
</html>
