<!DOCTYPE html>
<html ng-app="app-login">

<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel='stylesheet prefetch' href='./node_modules/bootstrap/dist/css/bootstrap.min.css'>
    <link rel="stylesheet" href="styles/css/style.css">
    <script type="text/javascript" src="./node_modules/angular/angular.js"></script>
</head>
<form class="col-md-12" id="loginForm">
    <div id="form-container" class="container" ng-controller="login as loginctrl">
        <h1>Login</h1>
        <div class="form-group">
            <input ng-model="loginctrl.username" type="text" placeholder="Username" class="form-control input-lg" id="username">
            <input ng-model="loginctrl.password" type="password" placeholder="Password" class="form-control input-lg" id="password">
            <button class="btn btn-info btn-lg btn-block" id="signInBtn" ng-click="loginctrl.signIn()">Sign In</button>
            <a id="signUp" ng-click="loginctrl.signUp()">Sign Up</button>
        </div>
    </div>
</form>

</body>
<script>
    require("./login.js")

</script>

</html>