.nav, .pagination, .carousel, a, select {
    cursor: pointer;
}

#bootstrap-overrides #mainpanel {
    width:80%;
    margin:0 auto;
    margin-bottom:130px;
}


#bootstrap-overrides .navbar {
    padding-top:20px;
}


#bootstrap-overrides .navbar-brand{
    background:url('../../assets/icons/img/logo_pricetag.svg') 0 8px no-repeat;
    background-size:50px;
    padding-left:60px;
    margin-left:25px;
}

#bootstrap-overrides .navbar-nav a {
    color:#2e6da4;
}

#bootstrap-overrides .navbar-nav .active a {
    color:#044677;
}

input#dropdownMenu {
    width: 30%;
}

input {
    width: 15%;
}

button#add {
    width: 10%;
}

/* Search section */
.dropdown.dropdown-scroll .dropdown-menu {
    max-height: 200px;
    width: 60px;
    overflow: auto;
}

.search-control {
    padding: 5px 10px;
}
/* End of Search section */

table#tabdetails {
    width: 100%;
}

div#mainpanel {
    /*width: 70%;*/
    margin: 3% 0 0 3%;
}

div#floatpanel {
    width: 27%;
    margin: 0px 0px 0px 0%;
}


.spacer{
    height: 20px;
}
.welcome {
    margin-top: 20px;
}

/*Bootstrap Overrides*/


#bootstrap-overrides .panel-primary {
    border:none;
    border-top:1px solid #cccccc;
    margin:20px 0;
}

#bootstrap-overrides .panel {
    box-shadow:none;
    border-radius:0;
    padding-top:20px;
}

#bootstrap-overrides .panel-heading {
    background:none;
    border:none;
    padding:0;
}

#bootstrap-overrides .panel-title, #bootstrap-overrides h3 {
    color:#2e6da4;
    font-size:2em;
    font-weight:bold;
    padding:15px;
}

#bootstrap-overrides .btn-primary {
    background-image:none;
    padding:8px 30px;
    margin-top:10px;
}

#bootstrap-overrides .card {
    border:1px solid #cccccc;
    padding:20px;
    padding-bottom:0;
    margin:15px;
}

#bootstrap-overrides .card+.card {
margin-top:5px;
}

#bootstrap-overrides .card-block {
margin-bottom:20px;
}

#bootstrap-overrides .card h4 {
    margin-top:0;
}

#bootstrap-overrides .card label {
    margin-bottom:0;
}

#bootstrap-overrides .card input, #bootstrap-overrides .card select, #bootstrap-overrides .card .input-group {
    margin-bottom:10px;
}

#bootstrap-overrides .card .input-group input {
    margin-bottom:0;
}

#bootstrap-overrides h6 {
    text-transform:uppercase;
    color:#2e6da4;
    font-weight:600;
}

#bootstrap-overrides h4+h6 {
    margin-top:20px;
}

#bootstrap-overrides .divider {
    padding-bottom:10px;
    border-bottom:1px solid #cccccc;
    margin-bottom:10px;
}

#bootstrap-overrides .nobreak {
    margin-bottom:0;
}

#bootstrap-overrides .card-total {
    background:#2e6da4;
    color:azure;
    margin:0 -20px;
    padding:10px 20px;
}

#bootstrap-overrides .below {
    background:#a52f2f;
    color:#ffeeee;
}

#bootstrap-overrides .incomplete {
    background:#aaaaaa;
    color:#efefef;
}

#bootstrap-overrides .card-total p {
    margin:0;
}

#bootstrap-overrides .card .form-label {
    margin-bottom:5px;
}

#bootstrap-overrides .card .group-end {
    margin-bottom:25px;
}

#bootstrap-overrides footer {
    padding:20px;
    background:#4d4d4d;
    font-weight:100;
    color:#aaaaaa;
    z-index:2;
}




#bootstrap-overrides footer .content {
    width:80%;
    margin:0 auto;
}

#bootstrap-overrides footer h6 {
    color:#33c1ff;
}

#bootstrap-overrides footer p {
    display:inline-block;
    margin:0 8px;
    font-weight:300;
    color:#efefef;
}

#bootstrap-overrides footer label {
    font-weight:100;
    color:#ffffff;
}

#bootstrap-overrides footer p:first-child {
    margin-left:0;
}

#bootstrap-overrides footer p:last-child {
    margin-right:0;
}

#bootstrap-overrides .sticky-footer ul {
    border:none;
    display:block;
    height:38px;
    z-index:1;
    margin-left:10%;
}

#bootstrap-overrides .sticky-footer ul:after {clear:none;}

#bootstrap-overrides .sticky-footer li {display:inline-block; height:39px;}

#bootstrap-overrides .sticky-footer li.active, #bootstrap-overrides .sticky-footer li.active a {
    background:#4d4d4d;
    color:#33c1ff;
    border:none;
    margin-right:2px;
}

#bootstrap-overrides .sticky-footer li a {
    max-height:38px;
    background:#666666;
    color:#fefefe;
    font-weight:100;
    border:none;
}

#bootstrap-overrides .sticky-footer li a:hover {
    background:#4d4d4d;
    border-bottom:1px solid #4d4d4d;
}

#bootstrap-overrides .positive {
    color:#1ad882;
}

#loginForm {
margin-top: 50px;
}

/* Validation for Project Resources */
input.ng-invalid, select.ng-invalid {
    border-color: red;
}

#cardConatiner {
    display: flex;
}
#cardRole {
    flex: 0 0 90%;
}
#cardDeleteButton {
    flex: 1;
}