<div class="card">
                <div class="card-block">
                    <h4 class="card-title">Senior Developer</h4>
                    <p class="card-subtitle mb-2 text-muted divider">Bob Dylan at 100% Allocation</p>
                    <h6>Resource Costs</h6>
                    <p class="nobreak"><label>Direct Labour Cost:</label> $30/h</p>
                    <p><label>Billing Cost:</label> $15/h</p>
                </div>
                <div class="card-total below"><p>GP: 40%</p></div>
</div>