<div class="jumbotron welcome">
        <h2>Project Pricing Made Easier</h2>
        <p class="lead">Enter your project information below to generate a quick, easy pricing sheet.</p>
</div>

<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Project Information</h3>
        </div>
        <div class="panel-body">

            <form name="summaryForm">
                <div class="form-group">
                    <label for="clientName">Client Name</label>
                    <input type="text" class="form-control" id="clientName" placeholder="Client Name"
                           ng-model="mainctrl.price.summary.clientName" required>
                </div>
                <div class="form-group">
                    <label for="optName">Opportunity Name</label>
                    <input type="text" class="form-control" id="optName" placeholder="Opportunity Name"
                           ng-model="mainctrl.price.summary.optName" required>
                </div>
                <div class="form-group">
                    <label for="practiceArea">Practice Area</label>
                    <select id="practiceArea" class="form-control" ng-model="mainctrl.price.summary.practiceArea"
                            required>
                        <option>Apps Data Management</option>
                        <option>Apps Development</option>
                        <option>Apps Management</option>
                        <option>Business Intelligence</option>
                        <option>Infrastructure Asset Inventory</option>
                        <option>Infrastructure Asset Remarketing & Disposal</option>
                        <option>Infrastructure CDST</option>
                        <option>Infrastructure Deployment</option>
                        <option>Infrastructure Support Services</option>
                        <option>IT Service Management</option>
                        <option>Manage Services</option>
                        <option>Network Services</option>
                        <option>Quality Assurance & Testing</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="practiceArea">Practice Service (Template)</label>
                    <select id="practiceService" class="form-control" ng-model="mainctrl.price.summary.practiceService"
                            required>
                        <option>Rapid Adoption Framework</option>
                        <option>Rapid Execution Framework</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="priceType">Price Structure</label>
                    <select id="priceType" class="form-control" ng-model="mainctrl.price.summary.priceStucture" required>
                        <option>Time & Material</option>
                        <option>Fix Fee</option>
                        <option>Per Unit</option>
                        <option>Time & Material To Exeed</option>
                    </select>
                </div>
            </form>
        </div>
    </div>

    <div class="panel panel-primary" id="prepteamGroup">
        <div class="panel-heading">
            <h3 class="panel-title">Preperation Team</h3>
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label for="smoArchitect">SMO Architects</label>
                    <select id="smoArchitect" class="form-control" ng-model="mainctrl.price.team.smo" required>
                        <option>Beily, Robertt</option>
                        <option>Boggalli Raghavendra, Prabhanjana</option>
                        <option>Cardinal, Meacheal John</option>
                        <option>Ennis, Micheal Wayne</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="propManager">Proposal Manage</label>
                    <select id="propManager" class="form-control" ng-model="mainctrl.price.team.proposalmng" required>
                        <option>Fox, Penny Lynn</option>
                        <option>Hansel, karen R</option>
                        <option>Harris, Diana</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="primPriceApp">Primary Price Approver</label>
                    <select id="primPriceApp" class="form-control" ng-model="mainctrl.price.team.ppa" required>
                        <option>Bernal, Carli Rae</option>
                        <option>Scott, Allison Jean</option>
                        <option>Stone, Melissa Gail</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pracArchitect">Practice Architect</label>
                    <select id="pracArchitect" class="form-control" ng-model="mainctrl.price.team.pa" required>
                        <option>Mazzetti, Sharon Coles</option>
                        <option>Mooney, Ashley Lane</option>
                        <option>patrick, Kory Devvon</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="solutionArchitect">Solution Architect</label>
                    <select id="solutionArchitect" class="form-control" ng-model="mainctrl.price.team.sa" required>
                        <option>Adams, james Archibald</option>
                        <option>Biswas, Arpan A</option>
                        <option>Clarck, Sean</option>
                    </select>
                </div>
            </form>
        </div>
    </div>


    <div class="panel-primary" id="projectSchedule">

        <h3>Project Schedule</h3>


        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Add a Phase</h4>
                <h6 class="divider">Phase Information</h6>
                <p class="form-label"><label>New Phase:</label></p>

                <p class="form-label"><label>Name:</label></p>
                <input type="text" ng-model="mainctrl.phaseName" class="form-control">

                <p class="form-label"><label>Duration (Weeks)</label></p>
                <input type="number" ng-model="mainctrl.phaseWeek" class="form-control group-end" >

                <button type="submit" class="btn btn-primary" ng-click="mainctrl.addPhases()">Add Phase</button>

            </div>

        </div>


    </div>


    <div class="panel-primary" id="projectResources">

            <h3>Project Resources</h3>

    <div project-resource=""></div>

        <form class="pure-form pure-form-aligned" name="mainctrl.form" method="post"
              ng-submit="mainctrl.form.$valid && mainctrl.addResource()"
              novalidate autocomplete="off">

            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Add a Resource</h4>
                    <h6 class="divider">Resource Information</h6>

                    <p class="form-label"><label>New Resource Role:</label></p>
                    <select class="form-control" ng-model="mainctrl.selectedRole" name="email"
                            ng-options="x.role for x in mainctrl.data.roles" required>
                        <option value="">Please select a role</option>
                    </select>
                    
                    <p class="form-label"><label>Name:</label></p>
                    <input ng-model="mainctrl.resourceName" type="text" class="form-control" placeholder="Put a name..."
                           required>

                    <p class="form-label"><label>Phase:</label></p>
                    <select class="form-control" ng-model="mainctrl.selectedRolePhase" name="phase"
                            ng-options="x.name for x in mainctrl.price.phases" required>
                        <option value="">Please select a Phase</option>
                    </select>


                    <p class="form-label"><label>Project Allocation (%):</label></p>
                    <input name="allocation" ng-model="mainctrl.resourceAllocation" type="number" class="form-control group-end"
                           placeholder="Define resource allocation" ng-min="0" ng-max="100" ng-pattern="/^[1-9][0-9]?$|^100$/" required>
                    <span ng-messages="mainctrl.form.allocation.$error" class="alert-danger">
                        <span ng-message="required">This field is required. Please define percentage between 0 to 100</span>
                        <span ng-message="pattern">Must be a number between 1 and 100</span>
                    </span>

                    <h6 class="divider">Cost Information</h6>

                    <p class="form-label"><label>Direct Labour:</label></p>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input name="dl" ng-model="mainctrl.selectedRole.costs[0].amount" type="number" class="form-control"
                               id="dlInputAmount" placeholder="Amount" ng-pattern="/^[0-9]*$/" required>
                        <div class="input-group-addon">/ hour</div>
                    </div>
                    <span ng-messages="mainctrl.form.dl.$error" class="alert-danger">
                        <span ng-message="pattern">DL must be greater than 0</span>
                    </span>

                    <p class="form-label"><label>Billing:</label></p>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input name="bill" ng-model="mainctrl.selectedRole.costs[1].amount" type="text" class="form-control"
                               id="billInputAmount" placeholder="Amount" ng-pattern="/^[0-9]*$/" required>
                        <div class="input-group-addon">/ hour</div>
                    </div>
                    <div ng-messages="mainctrl.form.bill.$error" class="alert-danger">
                        <span ng-message="pattern">DL must be greater than 0</span>
                    </div>

                    <button ng-disabled="mainctrl.form.$invalid" type="submit" class="btn btn-primary">Add Resource</button>

                </div>
                <div class="card-total incomplete"><p>GP: 0%</p></div>
            </div>
        </form>
    
  </div>  