<div class="jumbotron welcome">
        <h2>Project Pricing Made Easier</h2>
        <p class="lead">Enter your project information below to generate a quick, easy pricing sheet.</p>
</div>

<form id="projectForm" sclass="pure-form pure-form-aligned" angular-validator-submit="mainctrl.addResource()"
      name="form" novalidate angular-validator>

<div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Project Information</h3>
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <label for="clientName">Client Name</label>
                    <input name="clientName" type="text" class="form-control" id="clientName" placeholder="Client Name"
                           ng-model="mainctrl.price.summary.clientName"  required-message="'This field is required'" required>
                </div>
                <div class="form-group">
                    <label for="optName">Opportunity Name</label>
                    <input name="oppName" type="text" class="form-control" id="optName" placeholder="Opportunity Name"
                           ng-model="mainctrl.price.summary.optName" required-message="'This field is required'" required>
                </div>
                <div class="form-group">
                    <label for="practiceArea">Practice Area</label>
                    <select name="practiceArea" id="practiceArea" class="form-control" ng-model="mainctrl.price.summary.practiceArea"
                            required-message="'This field is required'" required>
                        <option>Apps Data Management</option>
                        <option>Apps Development</option>
                        <option>Apps Management</option>
                        <option>Business Intelligence</option>
                        <option>Infrastructure Asset Inventory</option>
                        <option>Infrastructure Asset Remarketing & Disposal</option>
                        <option>Infrastructure CDST</option>
                        <option>Infrastructure Deployment</option>
                        <option>Infrastructure Support Services</option>
                        <option>IT Service Management</option>
                        <option>Manage Services</option>
                        <option>Network Services</option>
                        <option>Quality Assurance & Testing</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="practiceArea">Practice Service (Template)</label>
                    <select id="practiceService" class="form-control" ng-model="mainctrl.price.summary.practiceService"
                            >
                        <option>Rapid Adoption Framework</option>
                        <option>Rapid Execution Framework</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="priceType">Price Structure</label>
                    <select id="priceType" class="form-control" ng-model="mainctrl.price.summary.priceStucture" >
                        <option>Time & Material</option>
                        <option>Fix Fee</option>
                        <option>Per Unit</option>
                        <option>Time & Material To Exeed</option>
                    </select>
                </div>
        </div>
</div>



    <div class="panel panel-primary" id="prepteamGroup">
        <div class="panel-heading">
            <h3 class="panel-title">Preperation Team</h3>
        </div>
        <div class="panel-body">
                <div class="form-group">
                    <label for="smoArchitect">SMO Architects</label>
                    <select id="smoArchitect" class="form-control" ng-model="mainctrl.price.team.smo" >
                        <option>Beily, Robertt</option>
                        <option>Boggalli Raghavendra, Prabhanjana</option>
                        <option>Cardinal, Meacheal John</option>
                        <option>Ennis, Micheal Wayne</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="propManager">Proposal Manage</label>
                    <select id="propManager" class="form-control" ng-model="mainctrl.price.team.proposalmng" >
                        <option>Fox, Penny Lynn</option>
                        <option>Hansel, karen R</option>
                        <option>Harris, Diana</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="primPriceApp">Primary Price Approver</label>
                    <select id="primPriceApp" class="form-control" ng-model="mainctrl.price.team.ppa" >
                        <option>Bernal, Carli Rae</option>
                        <option>Scott, Allison Jean</option>
                        <option>Stone, Melissa Gail</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="pracArchitect">Practice Architect</label>
                    <select id="pracArchitect" class="form-control" ng-model="mainctrl.price.team.pa" >
                        <option>Mazzetti, Sharon Coles</option>
                        <option>Mooney, Ashley Lane</option>
                        <option>patrick, Kory Devvon</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="solutionArchitect">Solution Architect</label>
                    <select id="solutionArchitect" class="form-control" ng-model="mainctrl.price.team.sa" >
                        <option>Adams, james Archibald</option>
                        <option>Biswas, Arpan A</option>
                        <option>Clarck, Sean</option>
                    </select>
                </div>
        </div>
    </div>

    <div class="panel-primary" id="projectSchedule">

        <h3>Project Schedule</h3>


        <div class="card">
            <div class="card-block">
                <h4 class="card-title">Add a Phase</h4>
                <h6 class="divider">Phase Information</h6>
                <p class="form-label"><label>New Phase:</label></p>

                <p class="form-label"><label>Name:</label></p>
                <input type="text" ng-model="mainctrl.phaseName" class="form-control">

                <p class="form-label"><label>Duration (Weeks)</label></p>
                <input type="number" ng-model="mainctrl.phaseWeek" class="form-control group-end" >

                <button type="submit" class="btn btn-primary" ng-click="mainctrl.addPhases()">Add Phase</button>

            </div>

        </div>


    </div>


    <div class="panel-primary" id="projectResources">

            <h3>Project Resources</h3>

    <div project-resource></div>



            <div class="card">
                <div class="card-block">
                    <h4 class="card-title">Add a Resource</h4>
                    <h6 class="divider">Resource Information</h6>

                    <div class="form-group">
                    <p class="form-label"><label>New Resource Role:</label></p>
                    <select class="form-control" ng-model="mainctrl.selectedRole" name="resourceRole"
                            ng-options="x.role for x in mainctrl.data.roles"
                            required-message="'This field is required'" required>
                            required>
                        <option value="">Please select a role</option>
                    </select>
                    </div>

                    <div class="form-group">
                    <p class="form-label"><label>Name:</label></p>
                    <input name="resourceName" ng-model="mainctrl.resourceName" type="text" class="form-control" placeholder="Put a name..."
                           required-message="'This field is required'" required>
                    </div>

                    <div class="form-group">
                    <p class="form-label"><label>Phase:</label></p>
                    <select class="form-control" ng-model="mainctrl.selectedRolePhase" name="phase"
                            ng-options="x.name for x in mainctrl.price.phases"
                            required-message="'This field is required'" required>
                        <option value="">Please select a Phase</option>
                    </select>
                    </div>

                    <div class="form-group">
                    <p class="form-label"><label>Project Allocation (%):</label></p>
                    <input name="allocation" ng-model="mainctrl.resourceAllocation" type="number" class="form-control"
                           placeholder="Define resource allocation" ng-pattern="/^[1-9][0-9]?$|^100$/"
                           required-message="'This field is required'"
                           invalid-message="'Please enter percentage between 1 and 100'"
                           required>
                        </div>

                    <h6 class="divider">Cost Information</h6>

                    <p class="form-label"><label>Direct Labour:</label></p>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input name="dl" ng-model="mainctrl.selectedRole.costs[0].amount" type="number"
                               class="form-control"
                               id="dlInputAmount" placeholder="Amount" ng-pattern="/^[1-9]*$/"
                               required-message="'This field is required'"
                               invalid-message="'DL must be greater than 0'"
                               required>
                        <div class="input-group-addon">/ hour</div>
                    </div>

                    <p class="form-label"><label>Billing:</label></p>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input name="bill" ng-model="mainctrl.selectedRole.costs[1].amount" type="number" class="form-control"
                               id="billInputAmount" placeholder="Amount" ng-pattern="/^[1-9]*$/"
                               required-message="'This field is required'"
                               invalid-message="'Bill must be greater than 0'"
                               required>
                        <div class="input-group-addon">/ hour</div>
                    </div>

                    <button type="submit"  ng-click="mainctrl.focus()" class="btn btn-primary">Add Resource</button>
                    <button id="myselector" type="button" ng-click="form.reset()" class="btn btn-secondary">Reset Form</button>

                </div>
                <div class="card-total incomplete"><p>GP: <span ng-bind="mainctrl.countGp(mainctrl.selectedRole)"></span></p></div>
            </div>


  </div>
</form>

<button type="button" class="btn btn-primary" ng-click="mainctrl.genReport()" type="submit">
    <span class="glyphicon glyphicon-signal" aria-hidden="true"></span> Generate Report
</button>

<div class="sticky-footer navbar-fixed-bottom">

    <ul class="nav nav-tabs" role="tablist">
        <li  role="presentation" class="active"><a href="#home" showtab="" aria-controls="home" role="tab" data-toggle="tab">Home</a></li>
        <li  ng-repeat="phase in mainctrl.price.phases" role="presentation"><a href="#{{phase.id}}" showtab="" aria-controls="profile" role="tab" data-toggle="tab">{{phase.name}} ({{phase.weeks}} Weeks)</a></li>
    </ul>
    <footer class="navbar-default">
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div class="container-fluid">
                    <div class="content">
                        <h6>Financial Summary</h6>
                        <div class="figures">
                            <p><label>Gross Revenue:</label><span ng-bind="mainctrl.grossRevForm()"></span></p> |
                            <p><label>Net Revenue:</label><span ng-bind="mainctrl.grossRevForm()"></span></p> |
                            <p><label>Labour:</label><span ng-bind="mainctrl.countLabourForm()"></span></p> |
                            <p><label>Profit:
                            </label><span ng-bind="mainctrl.countProfitForm()"></span> = <span
                                    class="positive"><span ng-bind="mainctrl.countProfitPercent()"></span>%</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-repeat="phase in mainctrl.price.phases" role="tabpanel" class="tab-pane" id="{{phase.id}}">
                <div role="tabpanel" class="tab-pane active">
                    <div class="container-fluid">
                        <div class="content">
                            <h6>{{phase.name}}</h6>
                            <phasebar></phasebar>
                            <div class="figures">
                                <p><label>Gross Revenue:</label><span ng-bind="mainctrl.grossRevPhaseForm(phase)"></span></p> |
                                <p><label>Net Revenue:</label><span ng-bind="mainctrl.grossRevPhaseForm(phase)"></span></p> |
                                <p><label>Labour:</label><span ng-bind="mainctrl.countLabourPhaseForm(phase)"></span></p> |
                                <p><label>Profit:
                                </label><span ng-bind="mainctrl.countProfitPhaseForm(phase)"></span> = <span
                                        class="positive"><span ng-bind="mainctrl.countProfitPercentPhase(phase)"></span>%</span>
                                </p>
                            </div>
                            <span  class="label label-primary" ng-repeat="res in phase.resources">{{res.name}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>