<div class="container-fluid" ng-controller="priceSheetCtrl" id="public_sheet" style="margin-top: 100px">
    <h2>Public Pricing</h2>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Practice Area</th>
                <th>Owner</th>
                <th>Version</th>
                <th>Last Modified</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in public_sheets">
                <td>{{ $index + 1 }}</td>
                <td><a href="">{{ x.Name }}</a></td>
                <td>{{ x.Practice_Area }}</td>
                <td>{{ x.Owner }}</td>
                <td>{{ x.Version }}</td>
                <td>{{ x.Last_Modified }}</td>
                <td><span class="label" ng-class="statusClass(x.Status)">{{ x.Status }}</span></td>
            </tr>
        </tbody>
    </table>

    <hr>
    <h2>Private Pricing</h2>
    <table class="table table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Practice Area</th>
                <th>Owner</th>
                <th>Version</th>
                <th>Last Modified</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in public_sheets">
                <td>{{ $index + 1 }}</td>
                <td><a href="">{{ x.Name }}</a></td>
                <td>{{ x.Practice_Area }}</td>
                <td>{{ x.Owner }}</td>
                <td>{{ x.Version }}</td>
                <td>{{ x.Last_Modified }}</td>
                <td><span class="label full-width" ng-class="statusClass(x.Status)" style="width:50px">{{ x.Status }}</span></td>
            </tr>
        </tbody>
    </table>
</div>

<script>

</script>