<div class="container-fluid width-override" ng-controller="priceSheetCtrl" class="table-responsive" id="public_sheet" style="margin-top: 100px;">
    <h2>Pricing Sheet</h2>
    <table class="table table-sm table-hover" id="price-sheets">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Practice Area</th>
                <th>Owner</th>
                <th>Version</th>
                <th>Last Modified</th>
                <th>Public Access</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="x in public_sheets">
                <td>{{ $index + 1 }}</td>
                <td><a href="">{{ x.Name }}</a></td>
                <td>{{ x.Practice_Area }}</td>
                <td>{{ x.Owner }}</td>
                <td>{{ x.Version }}</td>
                <td>{{ x.Last_Modified }}</td>
                <td><input id="sheet_access" type="checkbox" checked></td>
                <td><span class="label" ng-class="statusClass(x.Status)">{{ x.Status }}</span></td>
                <td ><a class="button">Summary</a></td>
                <td ><a class="button">Edit</a></td>
            </tr>
        </tbody>
    </table>
