<div style="height: 30px"></div>
<!--<div class="width-override">-->
    <h1 class="page-header">Summary Report</h1>


    <div class="row">
        <div class="col-sm-4 ">
            <h5>Client Name <span class="label label-default">{{mainctrl.report.summary.clientName}}</span></h5>
            <h5>Opportunity Name <span class="label label-default">{{mainctrl.report.summary.optName}}</span></h5>
            <h5>Price Structure <span class="label label-default">{{mainctrl.report.summary.priceStucture}}</span></h5>
        </div>
        <div class="col-sm-4 ">
            <h5>Practice Area <span class="label label-primary">{{mainctrl.report.summary.practiceArea}}</span></h5>
            <h5>Practice Service <span class="label label-primary">{{mainctrl.report.summary.practiceService}}</span></h5>
            <h5>Practice Architect <span class="label label-primary">{{mainctrl.report.team.pa}}</span></h5>
        </div>
        <div class="col-sm-4 ">
            <h5>SMO Architects <span class="label label-warning">{{mainctrl.report.team.smo}}</span></h5>
            <h5>Proposal Manager <span class="label label-warning">{{mainctrl.report.team.proposalmng}}</span></h5>
            <h5>Solution Architect <span class="label label-warning">{{mainctrl.report.team.sa}}</span></h5>
        </div>
    </div>



    <div class="row report-figures-container">
        <!--<div class="col-sm-4 ">
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="chartdata" chart-labels="labels">
            </canvas>
            <h4>Weeks</h4>
            <span class="text-muted">Weeks per Phase</span>
        </div>-->
        <div class="col-sm-12">
            <canvas id="line" class="chart chart-line" chart-data="wavedata"
                    chart-labels="wavelabels" chart-series="waveseries" chart-options="waveoptions"
                    chart-dataset-override="wavedatasetOverride" chart-click="onClick">
            </canvas>

            <h4>Total Cost: {{mainctrl.countLabourForm()}}</h4>
            <div class="report-figures" >
                <p ng-repeat="phase in mainctrl.report.phases"><label class="phase1">{{phase.name}}:</label> {{mainctrl.countLabourPhaseForm(phase)}} |</p>
            </div>
        </div>
        <!--<div class="col-sm-4 ">
            <canvas id="base" class="chart-horizontal-bar"
                    chart-data="bardata" chart-labels="barlabels" >
            </canvas>
            <h4>Resources</h4>
            <span class="text-muted">Number of Resources Per Phase</span>
        </div>-->


    </div>

    <div class="report-stats-container">
        <div class="report-stats">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> <h6>Gross Revenue</h6>
            <p>{{mainctrl.grossRevForm()}}</p>
        </div>
        <div class="report-stats">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> <h6>Net Revenue</h6>
            <p>${{mainctrl.grossRevForm()}}</p>
        </div>
        <div class="report-stats">
            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> <h6>Gross Profit</h6>
            <p>{{mainctrl.countProfitPercent()}}% ({{mainctrl.countProfitForm()}})</p>
        </div>
        <!--<div class="col-sm-2 ">
            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> GP %
            <h4>40%</h4>
        </div>-->
        <div class="report-stats">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> <h6>Payback Period</h6>
            <p>14 Weeks</p>
        </div>
        <div class="report-stats">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> <h6>Weekly Cost</h6>
            <p>$2,000</p>
        </div>
    </div>

    <h2 class="sub-header">Resource Plan</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Phase</th>
                <th>Name</th>
                <th>Type</th>
                <th>DL</th>
                <th>Bill</th>
                <th>Duration</th>
                <th>Allocation</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in mainctrl.report.resources">
                <td>{{item.resourcePhase}}</td>
                <td>{{item.resourceName}}</td>
                <td>{{item.resource.role}}</td>
                <td>{{item.resource.costs[0].amount}}$/H</td>
                <td>{{item.resource.costs[1].amount}}$/H</td>
                <td>{{item.resourcePhaseWeeks}} Weeks</td>
                <td>{{item.resourceAllocation}}%</td>
            </tr>
            </tbody>
        </table>
    </div>
<!--</div>-->

<script>



</script>