<div style="height: 30px"></div>

<div class="width-override">
    <h1 class="page-header">Summary Report</h1>

    <div class="row">
        <div class="col-sm-4 ">
            <canvas id="doughnut" class="chart chart-doughnut"
                    chart-data="chartdata" chart-labels="labels">
            </canvas>
            <h4>Weeks</h4>
            <span class="text-muted">Weeks per Phase</span>
        </div>
        <div class="col-sm-4 ">
            <canvas id="line" class="chart chart-line" chart-data="wavedata"
                    chart-labels="wavelabels" chart-series="waveseries" chart-options="waveoptions"
                    chart-dataset-override="wavedatasetOverride" chart-click="onClick">
            </canvas>
            <h4>Cost</h4>
            <span class="text-muted">Cost Per Phase</span>
        </div>
        <div class="col-sm-4 ">
            <canvas id="base" class="chart-horizontal-bar"
                    chart-data="bardata" chart-labels="barlabels" >
            </canvas>
            <h4>Resources</h4>
            <span class="text-muted">Number of Resources Per Phase</span>
        </div>


    </div>
    <div style="height: 30px"></div>
    <div class="row">
        <div class="col-sm-2 ">
            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Gross Revenue
            <h4>$2,000,000</h4>
        </div>
        <div class="col-sm-2 ">
            <span class="glyphicon glyphicon-usd" aria-hidden="true"></span> Net Revenue
            <h4>$2,000,000</h4>
        </div>
        <div class="col-sm-2 ">
            <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Gross Profit
            <h4>$2,000,000</h4>
        </div>
        <div class="col-sm-2 ">
            <span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span> GP %
            <h4>40%</h4>
        </div>
        <div class="col-sm-2 ">
            <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span> Payback Period
            <h4>14 Weeks</h4>
        </div>
        <div class="col-sm-2 ">
            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> P/Week Running Cost
            <h4>$2,000,000</h4>
        </div>
    </div>

    <h2 class="sub-header">Resource Plan</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Phase</th>
                <th>Name</th>
                <th>Type</th>
                <th>DL</th>
                <th>Bill</th>
                <th>Duration</th>
                <th>Allocation</th>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td>Phase 1</td>
                <td>Patrick</td>
                <td>QA Architect</td>
                <td>75$/H</td>
                <td>200$/H</td>
                <td>10 Weeks</td>
                <td>100%</td>
            </tr>
            <tr>
                <td>Phase 1</td>
                <td>Patrick</td>
                <td>QA Architect</td>
                <td>75$/H</td>
                <td>200$/H</td>
                <td>10 Weeks</td>
                <td>100%</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<script>



</script>